<h1> Edit Locality details</h1>
<% if @locality.errors.any? %>
  <h2> The following reasons prevented the locality details to be saved </h2>
    <ul>
     <%= @locality.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
    </ul>
<% end%>

<%= form_with(model: @locality, local: true) do |f| %>
  <p> 
    <%= f.label :Street %> <br/>
    <%= f.text_area :street %>
  </p>

  <p> 
    <%= f.label :City %> <br/>
    <%= f.select :city_id, City.all.collect {|x| [x.name, x.id]}, {} %>
  </p>

  <p>
    <%= f.submit "Add Locality" %>
  </p>

  <p>
    <%= link_to 'Back' , localities_path %>
  </p>
  
<% end%>