<tr id= "crime-<%= crime.id %>">
  <td><%= crime.city.name%></td>
  <td><%= crime.locality.name%></td>
  <td><%= crime.name%></td>
  <td><%= crime.crime_reporter.name if crime.crime_reporter %></td>
  <td><%= crime.crime_description%></td>
  <td><%= crime.crime_time%></td>
  <% if crime.priority == 'High' %>
    <td style="color: red"><%= crime.priority %></td>
  <% elsif crime.priority == 'Medium' %>
    <td style="color: yellow"><%= crime.priority %></td>
  <% elsif crime.priority == 'Low' %>
    <td style="color: green"><%= crime.priority %></td>
  <% end %>
  <td><%= crime.resolved%></td>
  <!-- Button trigger for crime show modal -->
  <td><%= link_to 'Show', crime_path(crime), class: 'btn btn-info', data: {remote: true, bs_toggle: "modal", bs_target:"#showcrime-#{crime.id}"} %></td>
  <!-- Button trigger for edit crime modal -->
  <td><%= link_to 'Edit', edit_crime_path(crime), class: 'btn btn-primary', data: {remote: true, bs_toggle: "modal", bs_target: "#editcrime-#{crime.id}"} %></td>
  <td><%= link_to 'Delete', crime_path(crime) , method: :delete , class: 'btn btn-danger', data: { remote: true,confirm: "Are you sure?"}%></td>
</tr>

<!-- Edit Crime Modal -->
<div class="modal fade" id="editcrime-<%= crime.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Crime Details</h5>
        <button type="button" class="closeEditForm" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="editerrors-<%= crime.id %>"></div>
        <div class="container">
          <div class="row justify-content-center mt-4 ">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">Edit Crime Details</div>
                <div class="card-body">
                  <%= form_with(model: crime, data: { remote: true}, method: :patch, id: 'edit-form' ) do |f| %>
                    <div class="form-group">
                      <%= f.label :City %>
                      <%= f.collection_select :city_id, City.all, :id, :name,  {prompt: "Select City"}, {include_hidden: false, class: "form-control", id: "city-#{crime.id}"} %>
                    </div>
                    <div class="form-group">
                      <%= f.label :Locality %>
                      <%= f.collection_select(:locality_id, Locality.where(city_id: crime.city.id), :id, :name, {include_blank: "Select Locality"}, {class: "form-control", id: "locality-#{crime.id}"}) %>
                    </div>
                    <div class="form-group">
                      <%= f.label :Name %>
                      <%= f.text_field :name, class: 'form-control'%>
                    </div>
                    <div class="form-group">
                      <label for="crime_reporter_id">Select Crime Reporter</label>
                      <%= f.select :crime_reporter_id, CrimeReporter.all.collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
                    </div>
                    <div class="form-group"> 
                      <%= f.label :description %> <br/>
                      <%= f.text_area :crime_description, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :Date_and_Time %> <br/>
                      <%= f.text_field :crime_time , class: 'form-control'%>
                    </div>
                    <div class="field">    
                      <%= f.label :Priority %></br>
                      <span class="option">High<span><%= f.radio_button :priority, "High" %></br>
                      <span class="option">Medium<span><%= f.radio_button :priority, "Medium" %></br>
                      <span class="option">Low<span><%= f.radio_button :priority, "Low" %></br>
                    </div>
                    <div class="field">    
                      <%= f.label :Resolved%></br>
                      <span class="option">False<span><%= f.radio_button :resolved, "False" %></br>
                      <span class="option">True<span><%= f.radio_button :resolved, "True" %></br>
                    </div>
                    <div class="card-footer text-muted">
                      <%= f.submit " Update Details", class: 'btn btn-primary'%>
                      <%= link_to 'Back', cities_path, class: 'btn btn-secondary' %>          
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).on('change', '#city-<%= crime.id %>', function getLocalities() {
      var selectedCities = $(this).val();
      $.ajax({
        url: "/locality_by_city",
        method: "GET",
        data: { cities: selectedCities },
        success: function(data) {
          $("#locality-<%= crime.id %>").html(data);
        }
      });
    });
  </script>
</div>

<!-- Crime Show page modal -->
<div class="modal fade" id="showcrime-<%= crime.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Crime Details</h4>
        <button type="button" id= "closeShowForm" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <% if crime.priority == 'High' %>
                <h1 class="card-title"><span style="color: red"><%= crime.priority%></span></h1>
              <% elsif crime.priority == 'Medium' %>
                <h1 class="card-title"><span style="color: yellow"><%= crime.priority%></span></h1>
              <% elsif crime.priority == 'Low' %>
                <h1 class="card-title"><span style="color: green"><%= crime.priority%></span></h1>
              <% end %>
            </div>
              <h2 class="card-subtitle mb-2 text-dark">Crime City: <%= crime.city.name %></h2>
              <h2 class="card-subtitle mb-2 text-dark">Crime Locality: <%= crime.locality.name %></h2>
              <h2 class="card-subtitle mb-2 text-dark">Reporter Name: <%= crime.name %></h2>
              <h2 class="card-subtitle mb-2 text-dark">Crime Description: <%= crime.crime_description %></h2>
              <h2 class="card-subtitle mb-2 text-dark">Reported Time: <%= crime.crime_time %></h2>
              <h2 class="card-subtitle mb-2 text-dark">Resolved: <%= crime.resolved %></h2>
            <div class="card-footer text-muted">
              <%= link_to 'Back', crimes_path, class: 'btn btn-secondary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
