<!-- Add Crime form -->
<div class="container">
  <div class="row justify-content-center mt-4 ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Report New Crime</div>
        <div class="card-body">
          <%= form_with scope: :crime, url: crimes_path, data: {remote: true} do |f| %>
            <div class="form-group">
              <label for="city_id">Select City</label>
              <%= f.select :city_id, City.all.collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="locality_id">Select Locality</label>
              <%= f.select :locality_id, Locality.all.collect {|x| [x.street, x.id]}, {}, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Name %>
              <%= f.text_field :name, class: 'form-control'%>
            </div>
            <div class="form-group">
              <label for="crime_reporter_id">Select Crime Reporter</label>
              <%= f.select :crime_reporter_id, CrimeReporter.all.collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
            </div>
            <div class="form-group"> 
              <%= f.label :description %> <br/>
              <%= f.text_area :crime_description, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Date_and_Time %> <br/>
              <%= f.text_field :crime_time , class: 'form-control'%>
            </div>
            <div class="field">    
              <%= f.label :Priority %></br>
              <span class="option">High<span><%= f.radio_button :priority, "High" %></br>
              <span class="option">Medium<span><%= f.radio_button :priority, "Medium" %></br>
              <span class="option">Low<span><%= f.radio_button :priority, "Low" %></br>
            </div>
            <div class="field">    
              <%= f.label :Resolved%></br>
              <span class="option">False<span><%= f.radio_button :resolved, "False" %></br>
              <span class="option">True<span><%= f.radio_button :resolved, "True" %></br>
            </div>
            <div class="card-footer text-muted">
              <%= f.submit " Report Crime ", class: 'btn btn-primary' %>
              <%= link_to 'Back' , crimes_path, class:'btn btn-secondary' %>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>