<h1> List of all Crimes </h1>
<table>
  <thead>
    <tr>
      <th> City_id </th>
      <th> Locality_id </th>
      <th> Reporter-Name </th>
      <th> Crime_Description</th>
      <th> Crime-Time</th>
      <th> Priority </th>
      <th> Resolved </th>
      <th colspan=3> Actions </th>
    </tr>
    <tr>
  </thead>
    <tbody>
      <% @crime.each do |crime| %>
        <tr>
      <td><%= crime.city_id%></td>
      <td><%= crime.locality_id%></td>
      <td><%= crime.name %></td>
      <td><%= crime.crime_description%></td>
      <td><%= crime.crime_time%></td>
      <td><%= crime.priority%></td>
      <td><%= crime.resolved%></td>
      <td><%= link_to 'Show', crime_path(crime) %></td>
      <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
      <td><%= link_to 'Delete', crime_path(crime) , method: :delete , data: {confirm: "Are you sure?"}%></td>
        </tr>
      <% end %>
    </tbody>
</table>

<p>
  <%= link_to 'Report New Crime' , new_crime_path %>
</p>

<p>
  <%= link_to 'Home' , root_path %>
</p>