<h1> Add New City </h1>

<%= form_with scope: :city, url: cities_path, local: true do |f| %>
  <p> 
    <%= f.label :Name %> <br/>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.submit "Add City" %>
  </p>

  <p>
    <%= link_to 'Back' , cities_path %>
  </p>
  
<% end%>